<div class="row" style="background-color: #2B4B80; width: 100%; height:70px">
    <h3 style="text-align: center; color:white;">Gamma Zeta Chapter Pledge Program</h3>
    <h5 style="text-align: center; color:white;">Alpha Kappa Psi Professional Business Fraternity</h5>
</dib>