<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
        <meta name="description" content=""/>
        <title>Membership Portal</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"/>

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">\

        <style>
            html {
                font-family: Georgia, serif;
                margin: 0;
                padding: 0;
            }
            body {
                background-color:#3257bee5;
            }

            .register-text{
                color: white;
                text-decoration: underline;
            }

            main {
                /* padding-left: 800px; */
                align-content:center;
            }
        
            .login-card {
                text-align: center;
                /* background-color: rgba(241, 156, 121); */
                background-color: #2e30ac;
                max-width: 400px;
                height: fit-content;
                box-shadow: 3px 3px 3px;
                font-family: Georgia, serif;
                color: white;
            }
            .Login {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-container {
                width: 100vw;
            }
            .login-page-container {
                width: 100vw;
                margin-right: 5rem;
            }
            /* ------------------------------ */
            .register-card {
              text-align: center;
              background-color: #2e30ac;
              max-width: 400px;
              height: fit-content;
              box-shadow: 3px 3px 3px;
              font-family: Georgia, serif;
              color: white;
            }

            .register {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card-container {
                width: 100vw;
            }

            .register-page-container {
                width: 100vw;
                margin-right: 5rem;
            }

            .navbar {
                font-family: Georgia, serif;
                background-color: #2e30ac;
                color: white;
                text-decoration: none;
            }
            .button {
                background-color: #2eac43;
            }
            .button:hover {
                background-color: grey;
            }
            .navbar > a:hover{
                color: black;
                text-decoration: none;
            }
            .navbar:hover{
                color: black;
                text-decoration: none;
            }
            .modal-style{
                font-family: Georgia, serif;
                background-color: #2e30ac;
                color: white;
            }
            .modal-button{
                background-color: #2e30ac;
            }
            .modal-button:hover{
                background-color: grey;
            }
            .welcome-message{
                font-family: Georgia, serif;
                color: white;
            }
            .dashboard-card{
                margin: 0 auto;
                float: none; 
                margin-bottom: 10px; 
            }

            .modal-text{
                color: black;
            }

            .discover .discover-container {
                background-color: white;
                padding:4px;
            }

            .discover .discover-container .container {
                padding:0px;
            }

            .discover * {
                font-family: Georgia, serif;
                background-color: white;
            }
            
            .discover h1 {
                color: black;
            }

            .discover-button {
                border: 1px;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                background-color: #2e30ac;
            }

            .discover-button:hover {
                background-color: grey;
            }

            .discover-select {
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
                background-color: #2e30ac;
            }

            .text{
                color: white;
                font-family: 'Exo 2', sans-serif;
            }
            .text-black{
                font-family: 'Exo 2', sans-serif;
                color: black;
            }

          </style>

    </head>
    <body>