<!-- NAVIGATION BAR -->
<header>
    <style>
        .a {
            text-decoration: none;
            font-size: 18px;
            color: rgb(255, 255, 255);
        }
    </style>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" style="background-color:#2B4B80;">


          <!-- NAV-HEADER AND IMG -->
          <a class="navbar-brand" href="https://akpsi.org/"> <img src="../../resources/img/Gamma_Logo.png" width="50" height="50"> </a>
          <a class="navbar-brand" href = "/home"> <h1 style="color:whitesmoke"><strong>   Alpha Kappa Psi   </strong></h1></a>


          <!-- NAV-BUTTON-->
          <div class="col" style="width: 50%;">
            
            <label style="color:#2B4B80">SECRET MESSAGE</label>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="width:15%; color:goldenrod; background-color: #1c3874; position:absolute; right: 10px; padding:.1px; padding-bottom:.01px; padding-top:.05px; width: 10%" name="nav-icon">
              <span class="navbar-toggler-icon navbar-dark" style="color:whitesmoke">
              </span>
            </button>

          </div>
            
          <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->


          <!-- NAV OFFCANVAS MODAL -->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #2B4B80; width: 12%;">
            <div class="offcanvas-header">
            </div>
            <div class="offcanvas-body">
              
              <h1 class="offcanvas-title" id="offcanvasNavbarLabel" style="color:white;  padding-left: 3.75%;"><strong>   Directory   </strong></h1>

              <br>


              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                <h5 style="color:white; text-align: center;"> <strong>BROTHERHOOD </strong></h5>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home" style="color:whitesmoke">
                    
                      <button class="btn btn-light">
                        Home
                      </button>
                    
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/calendar" style="color:whitesmoke">
                    
                      <button class="btn btn-primary">
                        Calendar
                      </button>
                    
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/community" style="color:whitesmoke">
                    
                      <button class="btn btn-light">
                        Community
                      </button>
                    
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/interviews" style="color:whitesmoke">
                  
                    <button class="btn btn-light">
                      Interviews
                    </button>
                  
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/networking" style="color:whitesmoke">
                    
                      <button class="btn btn-light">
                        Networking
                      </button>

                    </a>
                </li>


                <br>
                <br>


                <h5 style="color:white; text-align: center;"><strong> BRIDGE </strong></h5>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/submit_interview" style="color:whitesmoke">
                  
                    <button class="btn btn-light">
                      Submit Brother Interviews
                    </button>
                  
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/submit_networking" style="color:whitesmoke">
                    
                      <button class="btn btn-light">
                        Submit Networking Groups
                      </button>

                    </a>
                </li>

                <br>
                <br>

                <h5 style="color:gold; text-align: center;"><strong> MY PROFILE </strong></h5>
                <li class="nav-item">

                    <form action="/update_users" method="POST">

                      <button class="btn btn-warning">
                        Profile
                      </button>

                    </form>

                </li>
                <li class="nav-item">

                  <a class="nav-link active" aria-current="page" href="/update_profile" style="color:whitesmoke">
                    
                    <button class="btn btn-warning">
                      Update Profile
                    </button>
                  
                  </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout" style="color:red">
                    
                      <button class="btn btn-warning">
                        Logout
                      </button>

                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
</header>