<!-- NAVIGATION BAR -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img src="../../resources/img/Gamma_Logo.png" width="50" height="50"> </a>
            <a class="navbar-brand"   href = "/home"> <h1 style="color:white"><strong>   Membership Portal   </strong></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form action="/update_users" method="POST">
                            <button type="submit" class="btn btn-primary button">Home</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/calendar" style="color:white">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/community" style="color:white">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/bridge" style="color:white">Bridge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/interviews" style="color:white">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/networking" style="color:white">Networking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin" style="color:white">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout" style="color:white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>