<!-- NAVIGATION BAR -->
<header>
    <style>
        .a {
            text-decoration: none;
            font-size: 18px;
            color: rgb(255, 255, 255);
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img src="../../resources/img/Gamma_Logo.png" width="50" height="50"> </a>
            <a class="navbar-brand"   href = "/home"> <h1 style="color:whitesmoke"><strong>   Alpha Kappa Psi   </strong></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <div class="container" style="background-color:white">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home" style="color:whitesmoke">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/calendar" style="color:whitesmoke">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/community" style="color:whitesmoke">Community</a>
                        </li>
                    </div>


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/bridge" style="color:whitesmoke">Bridge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/interviews" style="color:whitesmoke">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/networking" style="color:whitesmoke">Networking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin" style="color:whitesmoke">Admin</a>
                    </li>
                    <li class="nav-item">
                        <form action="/update_users" method="POST">
                            <button type="submit" class="nav-link active" style="color:white; padding: top 10px; background-color: #2B4B80;">Profile</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout" style="color:white">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>