<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>

        </style>
    </header>
    <body>

        <div class="container">

            <div class="row">
                <div class="col">

                    <!-- BROTHER ITNERVIEW SUBMISSION TABLE -->
                    <table class="table-primary">
                        <thead>
                            <tr>
                                <th scope="col">Brother Interviews</th>
                                <th scope="col">Networking Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <a href="/submit_interview">Submission</a>
                            </tr>
                            <tr>
                                <a href="/submit_networking">Submission</a>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            
        </div>

    </body>
</main>

<%- include ('../partials/footer') %>