<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .submission_card {
                text-align: center;
                /* background-color: rgba(241, 156, 121); */
                background-color: rgb(11, 0, 77);
                max-width: 400px;
                height: fit-content;
                box-shadow: 10px 10px 3px;
                font-family: Georgia, serif;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100vh
            }
        </style>
    </header>
    <body>
        <div class="container">
            <div class="submission_card">

                <div class="container" style="background-color: rgb(11, 0, 77);">
                
                
                </div>
            </div>
        </div>
    </body>
</main>

<%- include ('../partials/footer') %>