<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <header>
    <style>
      .campus_bg {
        background-image: url('../../resources/img/boulder01.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover
      }
      .professionalism_bg {
        background-image: url('../../resources/img/Pledge_Class_SP22.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover
      }
      .yellowstone_bg {
        background-image: url('../../resources/img/Yellowstone_Vibes.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover
      }
      .profile {
        width:auto;
        height: 50%;
      }

    </style>
  </header>
    <body class="campus_bg">

      <div sytle="max-width:100%; height: 800px;">
        <br>
        <h1 class="modernist" style="color:black; text-align: center;"><Strong>My Brotherhood</Strong></h1>
        <h3 class="modernist-small" style="color:black; text-align: center;">Gamma Zeta Chapter</h3>

      </div>


      <!-- MyBrotherhood -->
      <div class="w3-container w3-padding-64 w3-center">
        <%
          var count_col = 0;      // variable to limit 4 cards per row
          var start = 0;          // variable to limit 4 cards per row
          var count_cmp = 4;      // variable to track how many cards have been input per row
          var index = 0;          // variable to track community array
          var pseudo = '';        // variable to code html
          var image = "";
          pseudo = pseudo + '<div class="w3-row">';                         // begin the row row
    
          community.forEach(community => {
            // if(community.username != 'Cole Krant' && community.username != 'Katie McDonald' && community.username != 'Emma Kochenderfer' && community.username != 'Nathan Brown' && community.username != 'Harrison Klein') {
              if(count_col === start) {

                count_col = count_col + 1;
                image = community.pfp_img ? "data:image/png;base64," + community.pfp_img : '../../resources/pfp/Default_Avatar.jpg';
                pseudo = pseudo + '<div class="w3-quarter">';
                  pseudo = pseudo + '<div class="card mb-3" style="background-color:#2B4B80; max-width:300px">';
                    pseudo = pseudo + '<div class="col">';
                      pseudo = pseudo + '<form action="/community/view_id" method="POST">';
                        pseudo = pseudo + '<input type="hidden" value="' + community.user_id +'" name="view_id" id="view_id">';
                        pseudo = pseudo + '<button class="btn btn-blue" action="/profile"><img src="' + image +'" class="w3-circle w3-hover-opacity" width="50%" height="50%" alt="Profile Picture"><h3>' + (community.name ? community.name : community.username) + '</h3><h5 style="color:white">' + ((community.brother === true) ? "Brother" : "Pledge") + '</h5></button>';
                      pseudo = pseudo + '</form>';
                    pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                pseudo = pseudo + '</div>';

                index++;

              }
              else if(count_col < count_cmp) {

                count_col = count_col + 1;                                  // incriment count
                image = community.pfp_img ? "data:image/png;base64," + community.pfp_img : '../../resources/pfp/Default_Avatar.jpg';
                pseudo = pseudo + '<div class="w3-quarter">';                     // same row, input card
                  pseudo = pseudo + '<div class="card mb-3" style="background-color:#2B4B80; max-width:300px">';
                    pseudo = pseudo + '<div class="col">';
                      pseudo = pseudo + '<form action="/community/view_id" method="POST">';
                        pseudo = pseudo + '<input type="hidden" value="' + community.user_id +'" name="view_id" id="view_id">';
                        pseudo = pseudo + '<button class="btn btn-blue" action="/profile"><img src="' + image +'" class="w3-circle w3-hover-opacity" width="50%" height="50%" alt="Profile Picture"><h3>' + (community.name ? community.name : community.username) + '</h3><h5 style="color:white">' + ((community.brother === true) ? "Brother" : "Pledge") + '</h5></button>';
                      pseudo = pseudo + '</form>';
                    pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                pseudo = pseudo + '</div>';

                index++;

              }
              else if(count_col === count_cmp) {

                image = community.pfp_img ? "data:image/png;base64," + community.pfp_img : '../../resources/pfp/Default_Avatar.jpg';
                pseudo = pseudo + '</div>';         // close the card
                pseudo = pseudo + '<div class="w3-row">';                         // begin the row row
                  pseudo = pseudo + '<div class="w3-quarter">';                     // create a card
                    pseudo = pseudo + '<div class="card mb-3" style="background-color:#2B4B80; max-width:300px">';
                      pseudo = pseudo + '<div class="col">';
                        pseudo = pseudo + '<form action="/community/view_id" method="POST">';
                        pseudo = pseudo + '<input type="hidden" value="' + community.user_id +'" name="view_id" id="view_id">';
                        pseudo = pseudo + '<button class="btn btn-blue" action="/profile"><img src="' + image +'" class="w3-circle w3-hover-opacity" width="50%" height="50%" alt="Profile Picture"><h3>' + (community.name ? community.name : community.username) + '</h3><h5 style="color:white">' + ((community.brother === true) ? "Brother" : "Pledge") + '</h5></button>';
                      pseudo = pseudo + '</form>';
                      pseudo = pseudo + '</div>';
                    pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                start = count_col;                  // indicate new row
                count_cmp = count_cmp + 4;          // set new ceiling

              }
            }
          //}
          ) 
        %>
        <%- pseudo %>
      </div>
  </body>
</main>

<%- include ('../partials/footer') %>