<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
        <div class="container text">
            <h1>Weekly Fitness</h1>
        
            <div class="card-group text-black">
              
              <style>
                  .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    max-width: 300px;
                    margin: auto;
                    text-align: center;
                    font-family: arial;
                  }
                  
                  .title {
                    color: grey;
                    font-size: 18px;
                  }
                  
                  button {
                    border: none;
                    outline: 0;
                    display: inline-block;
                    padding: 8px;
                    color: white;
                    background-color: #000;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    font-size: 18px;
                  }
                  
                  a {
                    text-decoration: none;
                    font-size: 22px;
                    color: black;
                  }
                  
                  button:hover, a:hover {
                    opacity: 0.7;
                  }
              </style>


              <%
                  var count_col = 0;      // variable to limit 4 cards per row
                  var start = 0;          // variable to limit 4 cards per row
                  var count_cmp = 4;      // variable to track how many cards have been input per row
                  var pseudo = '';        // variable to code html

              community.forEach(community => {
                  if(community) {
                      if(count_col === start) {

                          count_col = count_col + 1;                                  // incriment count
                          pseudo = pseudo + '<div class="card-group text-black">';    // begin the row row
                          pseudo = pseudo + '<div class="card">';                     // create a card
                          pseudo = pseudo + '<img src="' + community.img + '" alt="Profile Picture" style="width:100%">';
                          pseudo = pseudo + '<h1>' + community.username + '</h1>';
                          pseudo = pseudo + '<p class="title">' + community.major + '</p>';
                          pseudo = pseudo + '</div>';
                          pseudo = pseudo + '<br><br>';

                      }
                      else if(count_col < count_cmp) {

                          count_col = count_col + 1;                                  // incriment count
                          pseudo = pseudo + '<div class="card">';                     // same row, input card
                          pseudo = pseudo + '<img src="' + community.img + '" alt="Profile Picture" style="width:100%">';
                          pseudo = pseudo + '<h1>' + community.username + '</h1>';
                          pseudo = pseudo + '<p class="title">' + community.major + '</p>';
                          pseudo = pseudo + '</div>';
                          pseudo = pseudo + '<br><br>';

                      }
                      else if(count_col === count_cmp) {

                          pseudo = pseudo + '</div>';         // close the card
                          pseudo = pseudo + '<br><br>';
                          start = count_col;                  // indicate new row
                          count_cmp = count_cmp + 4;          // set new ceiling

                      }
                  }
                }) %>
              <%- pseudo %>
            </div>
        </div>

    
</main>

<%- include ('../partials/footer') %>