<%- include ('../partials/header') %>
<%- include ('../partials/banner') %>

<main class="d-flex align-items-center" style="height: 90vh">
  
  
  <form action="/login" method="POST">

    <section class="text-center text-lg-start" class="Login">
      <div class="row g-0 d-flex align-items-center login-page-container d-flex justify-content-center" style="width: 100%">
        <div class="col-lg-8 card-container d-flex justify-content-center">
          
          <div class="card-body py-5 px-md-5 login-card">
            <h1> Login </h1>

              <!-- USERNAME INPUT -->
              <div class="form-outline mb-4">

                <input type="text" id="1" class="form-control" name="username"/>
                <label class="form-label" for="1">   Username   </label>

              </div>

              <!-- PASSWORD input -->
              <div class="form-outline mb-4">

                <input type="password" id="2" class="form-control" name="password"/>
                <label class="form-label" for="2">   Password   </label>

              </div>

              <!-- REROUTE TO REGISTER -->
              <p> Don't have an account? <a style="font-size: small;" class="register-text" href="/register">Register</a> </p>
              <!-- SUBMIT button -->
              <button type="submit" class="btn btn-primary button">Submit</button>

          </div>
          
        </div>
    </section>

  </form>

</main>

<%- include ('../partials/footer') %>