<%- include ('../partials/header') %>

<main>
    <div class="container text-center text">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">
            <br>

            <h3>Successfully logged out</h3>
            <br>
            <h6> Thank you for using FINA</h6>
            <br>
            <h6> Have a nice day </h6>
          </div>
          <div class="col col-lg-2">
          </div>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %>