<%- include ('../partials/header') %>

<main>
  <div class="container text-center text">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <br>
        <h3>Successfully logged out</h3>
        <h6> Have a nice day </h6>
        <br>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>