<%- include ('../partials/header') %>

<main>
  <div class="container text-center text">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <br>
        <br>
        <br>
        <br>

        <h3 style="color:black">Your request has been submitted and awaits approval.</h3>
        <h6> Take note of your password, there is currently no system to reset your password </h6>
        <br>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>