<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <header>

  </header>
  <body>

    <div class="container-fluid">

        
    </div>


  </body>
</main>

<%- include ('../partials/footer') %>