<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .flatiron_bg {
                background-image: url('../../resources/img/Flatiron_Birdseye.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }
            .submission_card {
                text-align: center;
                /* background-color: rgba(241, 156, 121); */
                background-color: rgb(11, 0, 77);
                max-width: 400px;
                height: fit-content;
                box-shadow: 10px 10px 3px;
                font-family: Georgia, serif;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50vw;
                height: 50vh;
            }
        </style>
    </header>
    <body class="flatiron_bg">
        <div class="container">

            <div class="col">
                <div class="submission_card">
                    <div class="container" style="background-color: rgb(11, 0, 77);">
                        <!-- BROTHER ITNERVIEW SUBMISSION TABLE -->
                        <table class="table-primary">
                            <thead><th scope="col">Networking Group Submission</th></thead>
                            <tbody>
                                <form enctype="multipart/form-data" action="/submit_networking/post" method="POST">
                                    <tr>
                                        <td>
                                            <select class="form-select" id="group_week" name="group_week">
                                                <option selected>Choose...</option>
                                                <option value="Week 1">Week 1</option>
                                                <option value="Week 2">Week 2</option>
                                                <option value="Week 3">Week 3</option>
                                                <option value="Week 4">Week 4</option>
                                                <option value="Week 5">Week 5</option>
                                                <option value="Week 6">Week 6</option>
                                                <option value="Week 7">Week 7</option>
                                                <option value="Week 8">Week 8</option>
                                                <option value="Week 9">Week 9</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-control" type="file" id="proof" name="proof">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button
                                            action="submit"
                                            class="btn default"
                                            style="background-color: rgb(4, 125, 153); color: white">
                                            Submit
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                        
                    </div>
    
                </div>
            </div>

        </div>


    </body>
</main>

<%- include ('../partials/footer') %>