<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="d-flex align-items-center" style="height: 100vh">
    <header>
        <style>
            .flatiron_bg {
                background-image: url('../../resources/img/Flatiron_Birdseye.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }
            .submission_card {
              text-align: center;
              background-color: #2B4B80;
              max-width: 400px;
              height: 400px;
              box-shadow: 10px 10px 3px;
              font-family: 'Verdana', sans-serif;
              color: white;
            }
        </style>
        <script>
            const active = [

            ]

        </script>
    </header>
    <body class="flatiron_bg">

        <div class="container">

            <form enctype="multipart/form-data" action="/submit_networking/post" method="POST">  


                <section class="text-center text-lg-start" class="Login">
                    <div class="row g-0 d-flex align-items-center login-page-container d-flex justify-content-center" style="width: 100%">
                        <div class="col-lg-8 card-container d-flex justify-content-center">
                        
                            <div class="card-body py-5 px-md-5 login-card">
                                <h2> Networking Groups </h2>
                                <br>
                                <!-- BROTHER INPUT -->
                                <select class="form-select" id="group_week" name="group_week">
                                    <option selected>Choose...</option>
                                    <option value="Week 1">Week 1</option>
                                    <option value="Week 2">Week 2</option>
                                    <option value="Week 3">Week 3</option>
                                    <option value="Week 4">Week 4</option>
                                    <option value="Week 5">Week 5</option>
                                    <option value="Week 6">Week 6</option>
                                    <option value="Week 7">Week 7</option>
                                    <option value="Week 8">Week 8</option>
                                    <option value="Week 9">Week 9</option>
                                </select>
                    
                                <br>
                                <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a summary of what you did together" name="description" required></textarea>

                                <br>
                                <input class="form-control" type="file" id="proof" name="proof">
                    
                                <br>
                                <button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button>
                    
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </body>
</main>




<%- include ('../partials/footer') %>