<div class="maroon_bells_bg">
              
    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h1> OUR TEAM </h1>
        <h5 style="color: white;"> Meet the Bridge Education Committee </p>

        <!--  BRIDGE COMMITEE  -->
        <div class="w3-row"><br>

          <div class="w3-quarter">

              <img src="../../resources/pfp/Nathan_Brown.jpg" alt="Boss" style="width:45%" class="w3-circle">
              <h3 style="color: white;">Nathan Brown</h3>
              <h5 style="color: white;">Committee Coordinator</h5>

          </div>
          <div class="w3-quarter">

              <img src="../../resources/pfp/Katie_McDonald.jpg" alt="Boss" style="width:45%" class="w3-circle">
              <h3 style="color: white;">Katie McDonald</h3>
              <h5 style="color: white;">Pledge Educator</h5>

          </div>
          
          <div class="w3-quarter">

              <img src="../../resources/pfp/Emma_Kochenderfer.jpg" alt="Boss" style="width:45%" class="w3-circle">
              <h3 style="color: white;">Emma Kochenderfer</h3>
              <h5 style="color: white;">Professional Development Coordinator</h5>

          </div>

          <div class="w3-quarter">

              <img src="../../resources/pfp/Harrison_Klein.jpg" alt="Boss" style="width:45%" class="w3-circle">
              <h3 style="color: white;">Harrison Klein</h3>
              <h5 style="color: white;">Networking Director</h5>

          </div>

        </div>

        <div class="row">
          <div class="w3-quarter">

              <img src="../../resources/pfp/Cole_Krant.jpg" alt="Boss" style="width:15%" class="w3-circle">
              <h3>Cole Krant</h3>
              <h5>VP of Membership</h5>
              <h7>Website Creator</h7>
              
          </div>
      </div>

    </div>
</div>