<%- include ('../../partials/header') %> 
<%- include ('../../partials/menu') %>

<main>
    <header>

    </header>
    <body>

        <div class="container">
            <div class="card mb-3" style="background-color:white;">

                <a href="/admin/management">Manage All Users</a>
                <a href="/admin/post_announcement">Create an Announcement</a>
                <a href="/admin/announcements">View all Announcements</a>
                <a href="/admin/interview">View Brother Interviews</a>

            </div>
        </div>


        
    </body>
</main>

<%- include ('../../partials/footer') %>