<%- include ('../../partials/header') %> 
<%- include ('../../partials/menu') %>

<main>
    <header>
        <style>
            h1, h3 {
                color:black
            }
        </style>
    </header>
    <body>

        <div class="container" style="padding-top: 60px;">
            <div class="card mb-3" style="background-color:white;">
                <br>
                <h1>ADMINISTRAION</h1>
                <h3>This page is for the administration of the pledges. Use it to halt abuse and moderate behavior.</h3>
                <br>
                <h3>Management</h3>
                <a href="/admin/management">All Users</a>
                <a href="/admin/approve_user">Registration Requests</a>
                <br>

                <h3>Announcements</h3>
                <a href="/admin/post_announcement">Create an Announcement</a>
                <a href="/admin/announcements">View all Announcements</a>

                <br>

                <h3>Interviews</h3>
                <a href="/admin/interview">View Brother Interviews</a>
                <a href="/admin/networking">View Networking Groups</a>
                <br>
            </div>
        </div>


        
    </body>
</main>

<%- include ('../../partials/footer') %>